section{

  background-color: #2C3E50;
  padding-block: 70px;
}

section li
{

  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.cpr{

  background-color: #1A252F;
}
