<section class="vh-100">

  <div class="d-flex flex-column justify-content-center align-items-center vh-100 w-100 text-white text-center">
    <h1 class="text-uppercase">about component</h1>
    <div class="star position-relative">
      <i class="fa-solid fa-star text-white"></i>
    </div>


    <div class="container text-start">
      <div class="d-flex">
        <div class="firsr-p me-3 mt-4">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
          </p>
        </div>

        <div class="second-p ms-3 mt-4">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
          </p>
        </div>
      </div>
    </div>
  </div>


</section>
