<section >

  <div class="port d-flex flex-column justify-content-center align-items-center w-100 text-center">

  <div class="title">
    <h1 class="text-uppercase">portfolio component</h1>
    <div class="star position-relative">
      <i class="fa-solid fa-star"></i>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row g-4">
      @for(imgSrc of images; track $index){
        <div class="col-4" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="showDetails(imgSrc)">
          <div class="rounded-2 overflow-hidden position-relative">
            <img class="w-100" [src]="imgSrc.src" alt="">
            <div class="layer h-100 w-100 position-absolute top-0 start-0">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
</section>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog d-flex align-items-center justify-content-center w-100 h-100">
    <div class="modal-content">

      <div class="modal-body m-0 p-0">
        <img class="w-100" [src]="currentSrc.src" alt="">
      </div>
    </div>
  </div>
</div>

